.navigation {
    display: flex;
    padding: 0 8px;
    height: 72px;
    align-items: center;
    justify-content: space-between;
  }
  .navigation ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 24px;
    font-weight: 500;;
  }